@page "/uploadfile/uploadimagefileanddisplaytext"

@inject IImagePrintedTextRecognitionService imagePrintedTextRecognitionService;
@inject IConfiguration configuration;

<h1>Upload image file and display text</h1>

<label style="margin-bottom: 25px;">
    Upload image file:
    <InputFile OnChange="@OnInputFileChangeAsync" accept="image/*" />
</label>

@if (!anyFileUploaded)
{
    return;
}

@if(!currentFileUploaded)
{
    <p><em>Loading...</em></p>
}
else if(!string.IsNullOrWhiteSpace(imageRecognitionOutput.ErrorMessage))
{
    <div>
        <span>@imageRecognitionOutput.ErrorMessage</span>
    </div>
}
else if(string.IsNullOrWhiteSpace(imageRecognitionOutput.PrintedTextInImage))
{
    <div>
        <span>No text found in image file</span>
    </div>
}
else if (imageRecognitionOutput != null && imageRecognitionOutput.IsSuccesful)
{
    <h2>Image content</h2>
    
    <table style="margin-top: 20px;">
        <tr>
            <td style="width: 600px;">
                <textarea rows="40" cols="80">@imageRecognitionOutput.PrintedTextInImage</textarea>
            </td>
            <td style="vertical-align:top">  
                <img src="@imageRecognitionOutput.ImageUrl" alt="">
            </td>
        </tr>
    </table>
}