@page "/about"

<h3>About</h3>

<div>
    <p class="about_text">
        This is a simple Blazor Server app which uses image recognition to identify and extract text printed in an image file uploaded by the user.  
        The app utilises the recognise printed text in image function in the <a href="https://docs.microsoft.com/en-gb/azure/cognitive-services/computer-vision/quickstarts-sdk/client-library?tabs=visual-studio&pivots=programming-language-csharp" class="underline font-bold">Azure Computer Vision Cognitive service</a> 
        to identify and extract printed text from the uploaded image files.
        The app is developed with a Blazor Server/.Net 6 GUI frontend and a .Net 6 backend class library which communicates with the Azure Computer Vision Cognitive Service 7.
        You can <a href="https://github.com/johnt84/BlazorServerImageRecognitionApp" class="underline font-bold">view the source code here</a>
    </p>
</div>
