@page "/about"

<h1>About</h1>

<div>
    <p class="about_text">
        This is a simple Blazor Server app which uses image recognition to identify and extract text printed in an image file uploaded by the user.  
        The app utilises the Read in StreamAsync and Get Result using a Stream functions in the <a href="https://learn.microsoft.com/en-us/azure/cognitive-services/computer-vision/quickstarts-sdk/client-library?tabs=visual-studio&pivots=programming-language-csharp" class="underline font-bold">Azure Computer Vision Cognitive service</a>
        to identify and extract printed text from an uploaded image file.
        The app is developed with a Blazor Server/.Net 8 GUI frontend and a .Net 8 Image printed text recognition engine class library which communicates with the Azure Computer Vision API v3.2.
        You can <a href="https://github.com/johnt84/BlazorServerImageRecognitionApp" class="underline font-bold">view the source code here</a>
    </p>
</div>

<h3>Demo</h3>

<table class="about_table">
    <tr>
        <td class="about-table-description-column">
            Select image file to upload and analyse
        </td>
        <td>
            <img height="555" width="800" src="images/UploadImageFile.png">
        </td>
    </tr>
    <tr>
        <td>
            After image file uploaded then uploaded image file displayed and printed text in image file shown in printed text in image file text area 
        </td>
        <td>
            <img height="555" width="800" src="images/PrintedTextDisplayed.png">
        </td>
    </tr>
</table>